<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Product</h1>
    </header>
    <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
    <section id="modal-body">
        <div class="row">
            <mat-form-field>
                <mat-placeholder>
                    <mat-icon>perm_identity</mat-icon>
                    Title
                </mat-placeholder>
                <input type="text" matInput [formControl]="title" />
                <div [hidden]="title.valid" class="validation">
                    <div [hidden]="!title.hasError('required')">
                    First name is required.
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-placeholder>
                    <mat-icon>perm_identity</mat-icon>
                    Price
                </mat-placeholder>
                <input type="text" matInput [formControl]="price" />
                <div [hidden]="price.valid" class="validation">
                    <div [hidden]="!price.hasError('required')">
                    Price is required.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-placeholder>
                <mat-icon>perm_identity</mat-icon>
                Category
            </mat-placeholder>
            <input type="text" matInput [formControl]="category" />
            <div [hidden]="category.valid" class="validation">
                <div [hidden]="!category.hasError('required')">
                        Category is required.
                </div>
            </div>
        </mat-form-field>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button type="submit" id="modal-action-button">
            Do it
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Go back
        </button>
    </footer></form>
</div>