<mat-toolbar>
    <mat-toolbar-row>
        <h1>QuickBuy</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/shop'" routerLinkActive="mat-primary"> Shop </a>
          <a mat-button [routerLink]="'/cart'" routerLinkActive="mat-primary"> Cart </a>  
          <a mat-button [routerLink]="'/product'" routerLinkActive="mat-primary"> Products </a>
          <a mat-button (click)='logout()'> Logout </a>
        </div>
        <span class="toolbar-fill-space"></span>
        <a mat-button [routerLink]="'/cart'">
          <mat-icon *ngIf="inCart > 0" matBadge="{{ inCart }}" matBadgeColor="primary" class="example-icon" aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
        </a>
      </mat-toolbar-row>
</mat-toolbar>