<mat-toolbar>
    <mat-toolbar-row>
        <h1>QuickBuy</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/dashboard'" routerLinkActive="mat-primary"> Home </a>
          <a mat-button [routerLink]="'/schedule-details'" routerLinkActive="mat-primary"> Cash Flow </a>  
          <a mat-button (click)='logout()'> Logout </a>
        </div>
        <span class="toolbar-fill-space"></span>
        <a mat-button (click)='logout()'>
          <mat-icon class="example-icon" aria-hidden="false">power_settings_new</mat-icon>
        </a>
      </mat-toolbar-row>
</mat-toolbar>