<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Start date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.start_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> End date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.end_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="day">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Day count </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="spread">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Spread </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.spread}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="period_rate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Period rate </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.period_rate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[3,5,7, 10, 20]" showFirstLastButtons></mat-paginator>