<h3>DERIVATIVE TRADING SYSTEM</h3>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="menu-card">
            <h3>
                <a routerLink="/static-data">Static Data</a>
            </h3>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="menu-card">
            <h3>
                <a routerLink="/trade">Market Data</a>
            </h3>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="menu-card">
            <h3>
                <a routerLink="/trade">Trade booking</a>
            </h3>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>