<mat-grid-list  *ngIf="products?.length>0" cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let item of products; let i = index">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar [style.background]="'url(' + item.image + ')'"></div>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ item.description }}
                </p>

                <p class="product-price">Rs. {{ item.price }}</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="card-actions">
                    <button class="button-ordniary" mat-mini-fab><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">visibility</mat-icon></button>
                    <button mat-mini-fab color="primary" (click)="addToCart(i)"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon></button>
                </div>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>